:root {
    --mercury-white: #f2f2f2;
    --mercury-black: #262626;

    --mercury-primary-dark: #303F9F;
    --mercury-primary: #3F51B5;
    --mercury-primary-light: #C5CAE9;

    --mercury-accent: #E91E63;
    --mercury-primary-text: #212121;
    --mercury-secondary-text: #757575;
    --mercury-divider-color: #BDBDBD;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
