/* style for hover over a collection/file in the collection/file list */
tbody tr:hover {
    background-color: var(--mercury-theme-light) !important;
    cursor: pointer !important;
}

/* style for the selected collection/file in the collection/file list */
tbody tr[class*='MuiTableRow-selected'] {
    background-color: var(--mercury-theme) !important;
}
