# Application's port
port: 8080
publicUrl: "http://localhost:3000"
privateUrl: "http://localhost:8080"
jena:
  # Base IRI for all metadata entities
  metadataBaseIRI: "http://localhost/iri/"
  # Base IRI for all vocabulary entities
  vocabularyBaseIRI: "http://localhost/vocabulary/"
  # Jena's TDB2 database path
  datasetPath: "data/db"
  inactiveConnectionShutdownIntervalSec: 600
  storeParams:
    tdb.file_mode: "mapped"
    tdb.block_size: 8192
    tdb.block_read_cache_size: 5000
    tdb.block_write_cache_size: 1000
    tdb.node2nodeid_cache_size: 200000
    tdb.nodeid2node_cache_size: 750000
    tdb.node_miss_cache_size: 1000
    tdb.nodetable: "nodes"
    tdb.triple_index_primary: "SPO"
    tdb.triple_indexes:
      - "SPO"
      - "POS"
      - "OSP"
    tdb.quad_index_primary: "GSPO"
    tdb.quad_indexes:
      - "GSPO"
      - "GPOS"
      - "GOSP"
      - "POSG"
      - "OSPG"
      - "SPOG"
    tdb.prefixtable: "prefixes"
    tdb.prefix_index_primary: "GPU"
    tdb.prefix_indexes:
      - "GPU"
  # Path of the transaction log
  transactionLogPath: "data/log"
  elasticSearch:
    # Enables ElasticSearch integration
    enabled: true
    # Makes availability of ElasticSearch mandatory
    required: false
    settings:
      # Map of hosts and ports. The host could also be an IP Address
      hostToPortMapping:
        "127.0.0.1": 9300
      # Name of the Cluster. Defaults to "elasticsearch". Set to "docker-cluster" for a dockerized ES setup.
      clusterName: "docker-cluster"
      # Number of shards. Defaults to 1
      shards: 1
      # Number of replicas. Defaults to 1
      replicas: 1
    advancedSettings:
auth:
  # Enables JWT/JWKS authentication. Defaults to false.
  enabled: true
  # User roles (for local development only)
  developerRoles:
    - CanRead
    - CanWrite
    - DataSteward
    - SparqlUser
    - Coordinator
  # Role name for users who are allowed to do EVERYTHING
  fullAccessRole: organisation-admin
webDAV:
  # Path of the WebDAV's local blob store
  blobStorePath: "data/blobs"
mail:
  mail.from: info@fairspace.com
  mail.user: user
  mail.password: password
  mail.transport.protocol: smtp
  mail.smtp.auth: true
  mail.smtp.host: host
  mail.smtp.port: 587
  mail.smtp.starttls.enable: true
